Cython
DAWG-Python
Deprecated
Django
Jinja2
MarkupSafe
Pillow
XlsxWriter
amqp
asgiref
async-timeout
beautifulsoup4
billiard
celery
celery-progress
certifi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
cycler
django-crispy-forms
djangorestframework
dnspython
docopt
et-xmlfile
eventlet
fonttools
gensim
greenlet
idna
jarowinkler
joblib
kiwisolver
kombu
langdetect
lxml
matplotlib
mpld3
nltk
numpy
openpyxl
packaging
pandas
pip
pipreqs
prompt-toolkit
pymorphy2
pymorphy2-dicts-ru
pyparsing
python-dateutil
pytz
rapidfuzz
redis
regex
requests
scikit-learn
scipy
setuptools
six
smart-open
soupsieve
sqlparse
threadpoolctl
tqdm
tzdata
urllib3
vine
wcwidth
wheel
wrapt
yarg